:root {
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #fff;
  --green-500: #3d8168;
  --green-700: #1a4032;
  --spacing-500: 2.5rem /* 40px */;
  --spacing-400: 2rem /* 32px */;
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
  --font-bold: 700;
  --font-regular: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: var(--font-regular);
  line-height: 1.6;
  background: var(--cream);
}

.product {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin: 5rem auto;
  border-radius: var(--spacing-100);
  width: clamp(21.875rem, 23.474vw + 16.373rem, 37.5rem);
  background: var(--white);
  overflow: hidden;
}

.product__image {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;
}

.product__text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-400);
}

.product__text-container-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
