:root {
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #fff;
  --green-500: #3d8168;
  --green-700: #1a4032;
  --spacing-500: 2.5rem /* 40px */;
  --spacing-400: 2rem /* 32px */;
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
  --font-bold: 700;
  --font-regular: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: var(--font-regular);
  line-height: 1.6;
  background: var(--cream);
  min-height: 100vh;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  border-radius: var(--spacing-100);
  width: clamp(21.875rem, 63.613vw + 6.966rem, 37.5rem);
  color: var(--grey);
  background: var(--white);
  overflow: hidden;
}

.product__image {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;
}

.product__text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-400);
}

.product__text-container-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.product__category {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 5px;
}

.product__title {
  color: var(--black);
}

.product__title,
.product__current-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: var(--font-bold);
}

.product__price-container {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
}

.product__current-price {
  color: var(--green-500);
}

.product__original-price {
  text-decoration: line-through;
  font-size: 0.813rem;
}

.product__add-to-cart {
  display: flex;
  gap: var(--spacing-200);
  justify-content: center;
  align-items: center;
  background: var(--green-500);
  color: var(--white);
  border-radius: 8px;
  padding: var(--spacing-200) var(--spacing-400);
  border: none;
  font-weight: var(--font-bold);
  line-height: 1.1;
  transition: background-color 0.3s ease-out;
}

.product__add-to-cart:hover,
.product__add-to-cart:focus {
  cursor: pointer;
  background-color: var(--green-700);
}

@media only screen and (min-width: 48em) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 456px;
  }

  .product__image {
    width: 100%;
    height: 100%;
  }

  .product__text-container {
    gap: var(--spacing-400);
  }
}
